{% extends "base.html" %}
{% block content %}
    {% load static %}
    {% get_media_prefix as media_prefix %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#1e52bd">
        <tr>
            <td align="center" valign="top">
                <!-- Main -->
                <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
                    <tr>
                        <td class="td" style="width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                            <!-- Header -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="p30-15" style="padding: 40px 0px 20px 0px;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <th class="column-top"style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td align="center">
                                                                <table class="center" border="0" cellspacing="0" cellpadding="0"style="text-align:center;">
                                                                    <tr>
                                                                        <td class="img" width="32"style="font-size:0pt; line-height:0pt; text-align:left;"><a href="https://www.facebook.com/joaovbalmeida" target="_blank"><img src="{% static 'img/free_ico_facebook.jpg' %}" width="14" height="13" border="0" alt="" /></a></td>
                                                                        <td class="img" width="14"style="font-size:0pt; line-height:0pt; text-align:left;"><a href="https://www.instagram.com/joaovbalmeida/" target="_blank"><img src="{% static 'img/free_ico_instagram.jpg' %}" width="14" height="13" border="0" alt="" /></a></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- END Top bar -->
                                <!-- Logo -->
                                <tr>
                                    <td bgcolor="#1546a9" class="p30-15 img-center" style="padding: 30px; border-radius: 20px 20px 0px 0px; font-size:0pt; line-height:0pt; text-align:center;"><a target="_blank"><img class="header-image" src="{% static 'img/logo.png' %}"  border="0" alt="" /></a></td>
                                </tr>
                                <!-- END Logo -->
                            </table>
                            <!-- END Header -->
                                
                            <!-- Section 1 -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ebebeb">
                                <tr>
                                    <td class="p30-15-0" style="padding: 50px 30px 0px;" bgcolor="#ffffff">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td class="h5-center"style="color:#a1a1a1; font-family:'Raleway', Arial,sans-serif; font-size:16px; line-height:22px; text-align:center; padding-bottom:5px;">Códigos Promocionais</td>
                                            </tr>
                                            <tr>
                                                <td class="h2-center"style="color:#000000; font-family:'Playfair Display', Times, 'Times New Roman', serif; font-size:32px; line-height:36px; text-align:center; padding-bottom:20px;">Seus eventos em um só lugar!</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center"style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:center; padding-bottom:22px;">Olá amigos!<br><br>Criei esse site pra facilitar a divulgação de códigos promocionais de eventos, estarei mantendo todos os eventos com suas respectivas infos e códigos promocionais aqui.<br><br>Abraços e Beijos,<br>JOAOV</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!-- END Section 1 -->

                            <!-- Section 2 -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#dde8fd">
                                            <tr>
                                                <td class="fluid-img"style="font-size:0pt; line-height:0pt; text-align:left;">
                                                    <img src="{% static 'img/free_white_blue.jpg' %}" width="650" height="162" border="0" alt="" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="p0-15" style="padding: 0px 30px;">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td class="h2-center"style="color:#000000; font-family:'Playfair Display', Times, 'Times New Roman', serif; font-size:32px; line-height:36px; text-align:center; padding-bottom:40px;"><multiline>Próximos Eventos</multiline></td>
                                                        </tr>
                                                        {% for e in events %}
                                                        <tr>
                                                            <td class="pb40"style="padding-bottom:40px;">
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td class="event-separator"style="padding-bottom:40px; border-bottom:1px solid #ffffff;">
                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                                    <th class="column-top" width="60"style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                            <tr>
                                                                                                <td class="date"style="color:#000000; font-family:'Raleway', Arial,sans-serif; font-size:12px; line-height:16px; text-align:left; padding-bottom:6px;"><multiline>{{ e.date|date:"F" }}</multiline></td>
                                                                                            </tr>
                                                                                                <tr>
                                                                                                <td class="day"style="color:#1e52bd; font-family:'Raleway', Arial,sans-serif; font-size:40px; line-height:44px; text-align:left; font-weight:bold;"><multiline>{{ e.date|date:"j" }}</multiline></td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </th>
                                                                                    <th class="column-empty" width="10"style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;"></th>
                                                                                    <th class="column-top"style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                                                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                            <tr>
                                                                                                <td class="h5-black black"style="font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:18px; text-align:left; padding-bottom:15px; text-transform:uppercase; font-weight:bold; color:#000000;"><multiline>{{ e.name }}</multiline></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td class="text black"style="font-family:'Raleway', Arial,sans-serif; font-size:14px; line-height:22px; text-align:left; color:#000000; white-space:pre-wrap;"><multiline>{{ e.short_description }}</multiline></td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </th>
                                                                                    <th class="column-empty" width="10"style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;"></th>
                                                                                    <th class="column-top" width="156"style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:middle;">
                                                                                        <table class="m-top" width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                            <tr>
                                                                                                <td align="right" class="m-left">
                                                                                                    <a href="{% url 'event' e.id %}" target="_blank" class="button m-left">Mais Info</a>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr height="40px" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;"></tr>
                                                                                            <tr>
                                                                                                <td align="right" class="m-left">
                                                                                                    <a href="{{ e.link }}" target="_blank" class="button m-left">Ingressos</a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </th>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fluid-img"style="font-size:0pt; line-height:0pt; text-align:left;"><img src="{% static 'img/free_blue_white.jpg' %}" border="0" alt="" /></td>
                                </tr>
                            </table>
                            <!-- END Section 2 -->
                            
                            <!-- Section 3 -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                                <tr>
                                    <td class="p30-15-0" style="padding: 10px 30px 30px 30px;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td class="h5-center"style="color:#a1a1a1; font-family:'Raleway', Arial,sans-serif; font-size:16px; line-height:22px; text-align:center; padding-bottom:5px;"><multiline>"Live life to the fullest!"</multiline></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-bottom: 25px;">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td class="fluid-img"style="font-size:0pt; line-height:0pt; text-align:center;"><img class="event-image" src="{% static 'img/header.jpg' %}" border="0" alt="" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!-- END Section 3 -->
                            
                            <!-- Section 8 -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#1546a9">
                                <tr>
                                    <td class="p30-15" style="padding: 70px 30px;" align="center">
                                        <table class="center" border="0" cellspacing="0" cellpadding="0"style="text-align:center;">
                                            <tr>
                                                <th class="column"style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                                                    
                                                </th>
                                                <th class="column-empty" width="45"style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; direction:ltr;"></th>
                                                <th class="column"style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                                                    
                                                </th>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <!-- END Section 8 -->
                            
                            <!-- Footer -->
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="p30-15-0" bgcolor="#ffffff" style="border-radius: 0px 0px 20px 20px; padding: 60px 30px 0px 30px;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td class="m-padder2 pb30" align="center"style="padding-bottom:30px;">
                                                    <table class="center" border="0" cellspacing="0" cellpadding="0"style="text-align:center;">
                                                        <tr>
                                                            <td class="img" width="60" style="font-size:0pt; line-height:0pt; text-align:center;"><a href="https://www.facebook.com/joaovbalmeida/" target="_blank"><img src="{% static 'img/ico4_facebook.png' %}" width="26" height="26" border="0" alt="" /></a></td>
                                                            <td class="img" width="60" style="font-size:0pt; line-height:0pt; text-align:center;"><a href="https://www.instagram.com/joaovbalmeida/" target="_blank"><img src="{% static 'img/ico4_instagram.png' %}" width="26" height="26" border="0" alt="" /></a></td>
                                                            <td class="img" width="60" style="font-size:0pt; line-height:0pt; text-align:center;"><a href="https://www.linkedin.com/in/joão-victor-almeida-5a9a31134/" target="_blank"><img src="{% static 'img/ico4_linkedin.png' %}" width="26" height="26" border="0" alt="" /></a></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" class="p30-15" style="border-top: 1px solid #ebebeb; padding: 30px;">
                                                    <table class="center" border="0" cellspacing="0" cellpadding="0"style="text-align:center;">
                                                        <tr>
                                                            <th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top;">
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td class="text-footer"style="color:#5d5c5c; font-family:'Raleway', Arial,sans-serif; font-size:13px; line-height:22px; text-align:left;">
                                                                            <text>Copyright @ 2019 João Victor Almeida</text>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- END Main -->
            </td>
        </tr>
    </table>
{% endblock %}